<div class="container">

    <!-- add contact intro -->
    <div class="row">
        <div class="col">
            <h1 class="text-secondary mt-4 text-center">Update Contact <i class="fa-solid fa-pencil ms-2"></i> </h1>
            <p style="text-align: justify;" class="mt-3">Use the update contact activity to modify a contact attribute value when a contact reaches this activity in a journey. You choose a sendable data extension and set a static value that overwrites this value for each contact that reaches the activity. Date attributes provide the option to use the current time in Central Standard Time.</p>
        </div>
    </div>
<hr>
<!-- <pre>{{contact|json}}</pre> //to check details are fetched successfully -->
    <!-- add contact form and image -->
    <div class="row mt-5">
        <!-- form  -->
        <div class="col-6">
            <form class="border p-3 rounded">
                <!-- contact id  -->
                <div class="form-floating mb-3">
                    <input type="text" [(ngModel)]="contact.id" name="contactId" class="form-control" id="floatingInput" placeholder="Contact">
                    <label for="floatingInput">Contact ID</label>
                  </div>
                  <!-- Name -->
                  <div class="form-floating mb-3">
                    <input type="text" [(ngModel)]="contact.name" name="ContactName" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Name</label>
                  </div>
                  <!-- photo url  -->
                  <div class="form-floating mb-3">
                    <input type="text" [(ngModel)]="contact.photo" name="ContactPhoto" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Photo</label>
                  </div>
                  <!-- phone number -->
                  <div class="form-floating mb-3">
                    <input type="text" [(ngModel)]="contact.phone" name="ContactPhone" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Phone</label>
                  </div>
                  <!-- email address  -->
                  <div class="form-floating mb-3">
                    <input type="text" [(ngModel)]="contact.email" name="ContactEmail" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Email</label>
                  </div>
                  <!-- company name  -->
                  <div class="form-floating mb-3">
                    <input type="text" [(ngModel)]="contact.company" name="ContactCompany" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Company</label>
                  </div>
                  <!-- title  -->
                  <div class="form-floating mb-3">
                    <input type="text" [(ngModel)]="contact.title" name="contactTitle" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Title</label>
                  </div>
                  
                  <!-- select a group  -->
                  <div class="form-floating mb-3">
                    <select [(ngModel)]="contact.groupId" name="groupId" class="form-control p-1 ps-2" id="">
                        <option selected hidden disabled>Select A Group</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                    </select>
                  </div>
                  <button (click)="updateContact()" class="btn btn-outline-success">Update Contact<i class="fa-solid fa-pencil ms-2"></i></button>
                  <button class="btn btn-outline-danger" style="float: right;" routerLink="">Close<i class="fa-solid fa-circle-xmark ms-1"></i></button>
            </form>
        </div>
        <!-- image -->
        <div class="col-6" style="text-align: center; justify-content: center; align-items: center;">
            <img [src]="contact.photo" alt="contact photo" width="550px" height="650px" class="ms-5 rounded">>
        </div>
    </div>
</div>
